body, html{
	height: 100%;	
		margin: 0;	
		padding: 0;
}

body{
	margin: 0;	
	padding: 0;	
	display: flex;	
	flex-direction: column;
}
.logo p{
	color: black;
	font-size: 30px;
	font-family: 'Kanit', sans-serif;
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 0.5px;
	 text-shadow: lightblue -2px -2px;
}
.logo p:hover{
	-webkit-text-stroke-color: lightblue;
	-webkit-text-stroke-width: 1px;
	text-shadow: lightblue 3px 3px;
	transition: 0.5s;

}

.hd-content {
	padding: 20px;
	background-color: black;
	height: 100px;
	flex: 0 0 auto;
}
header {
	height: 100px;
	padding: 0 40px 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
.header-nav a{
	text-decoration: none;
	display: block;
	padding: 20px;
	font-family: 'Exo 2', sans-serif;
	color: white;
}
.header-nav a:hover{
    text-decoration: underline;
    text-decoration-color: black;
    transition: 1.5s;
}

.main-content{
	background: url(https://wallpapers-fenix.eu/full/141212/121245815.jpg);
	background-position: 55% 55%;	
	display: flex;
	height: 100%;
	margin: 0;
	flex-wrap: wrap;
}
.block1{
	box-shadow: inset 0px 0px 50px 70px rgba(0, 0, 0, 7);
	height: 300px;
	width: 100%;
	display: flex;	
	flex-wrap: wrap-inline;
	flex-basis: 100%;
	flex-grow: 1;

}
.block1 h1{
	color: white;
	height: 200px;
	width: 100%;
	padding: 30px 0 0 0;
	font-size: 22px;
	font-family: 'Red Hat Display', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

}
.block1 h2{
	padding: 0 30px 0 0;
	color: white;
	font-size: 22px;
	font-family: 'Red Hat Display', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}
.block2{
	display: flex;
	justify-content: space-between;
	background: white;
	width: 100%;
	height: 300px;
}

.block2-content h2{
	font-family: 'Red Hat Display', sans-serif;
 	display: flex;
 	flex-wrap: wrap;
}
.block2-content{
	box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column  wrap;
}
.block2-map{
	box-shadow: inset 0px 0px 10px 30px rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	padding: 3px;
}
.ft-items{
	height: 100px;
	flex: 0 0 auto;
	background-color: black;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
.ft-item1{
	display: flex;
	align-items: center;
}
.ft-item2{
	display: flex;
	align-items: center;
}
.ft-item3{
	list-style: none;
	display: flex;
	align-items: center;
}
.ft-item3 p{
	color: white;
	font-family: 'Exo 2', sans-serif;
}
.ft-items img{
	width: 30px;
	height: 30px;
}
.ft-items img:hover{
	filter: drop-shadow(0px 0px 10px rgba(255,255,255,5));
	transition: 1.5s;
}