body, html{
	background-size: cover;
	background-image: url(https://look.com.ua/pic/201307/1920x1080/look.com.ua-74086.jpg);
	height: 100%;	
	margin: 0;	
	padding: 0;
}
.container-header{
	display: none;
}

body{
	margin: 0;	
	padding: 0;	
	display: flex;	
	flex-direction: column;
}
.logo p{
	color: black;
	font-size: 30px;
	font-family: 'Kanit', sans-serif;
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 0.5px;
	 text-shadow: lightblue -2px -2px;
}
.logo p:hover{
	-webkit-text-stroke-color: lightblue;
	-webkit-text-stroke-width: 1px;
	text-shadow: lightblue 3px 3px;
	transition: 0.2s;
	filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.549));

}
.mask{
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 1,2s;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.loader {
	margin: auto;
	width: 75px;
	height: 75px;
	border:10px solid rgb(255, 255, 255);
	border-radius: 50%;
	border-left-color:#5f5f60;
	animation: loader 2s linear infinite;
}
   @keyframes loader {
	100% {
	 transform: rotate(360deg);
	}
}
.mask img{
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 width: 50px;
 height: 50px;
}



/*HEADER*/



.hd-content {
	padding: 20px;
	background-color: black;
	height: 100px;
	flex: 0 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.070);
	
}
header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header-nav a{
	text-decoration: none;
	display: block;
	margin: 20px;
	padding: 2px;
	font-family: 'Exo 2', sans-serif;
	color: white;
}
.header-nav a:hover{
    text-decoration: underline;
    text-decoration-color: black;
    transition: 1.5s;
	
	
}

/*MAIN*/

.wrapper{
 	display: flex;
 	flex-direction: column;
}

.main-content{
	box-shadow: inset 0px 0px 30px 50px rgba(0, 0, 0, 7);
	font-weight: 400;
	font-family: 'Yeseva One', cursive;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-evenly;
	flex-direction: row;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
}
.body{
	align-items: center;
	justify-content: center;
	display: flex;
	width: 40%;
}
.body svg{
	filter: drop-shadow(2px 0 1px black);
	padding: 20px;
	border-radius: 20px;
	height: 600px;
	width: 400px;
}
.text-info{
	font-size: 1.2rem;
	color: white;
	align-items: center;
	justify-content: center;
	height: 800px;
	border-radius: 20px;
	flex-wrap: wrap;
	display: flex;
	width: 60%;
}
.text-info img{
	filter: drop-shadow(2px 0 1px black);
	border-radius: 2px;
	transition: 0.3s;
}
.text-info img:hover{
	z-index: 2;
	transform: scale(2);
}
.text-info span{
	text-align: center;
	filter: drop-shadow(2px 0 1px black);
}
.exercise{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
g#BODY g:hover path{
	fill: red;
	opacity: 50%;

}
#BODY g.selected path{
	filter: drop-shadow(0 0 3px);
	fill: red;
	opacity: 1;
}
svg path{
	transition: 0.5s;
}
.item ul, h2{
	filter: drop-shadow(2px 0 1px black);
	list-style: number;
}
.owl-theme .owl-dots .owl-dot span{
	filter: drop-shadow(0px 0 1px black);
	background: white !important;
}
.owl-theme .owl-dots .owl-dot span:active{
	background: grey !important;
}


/*FOOTER*/


.ft-items{
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.070);
	height: 150px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ft-item1{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 33.3%;
}
.ft-item2{
	width: 33.3%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.ft-item3{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 33.3%;
}
.ft-items p{
	display: flex;
	font-size: 25px;
	color: white;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}
.ft-item3 p, h1{
	font-size: 15px;
	color: white;
	font-family: 'Exo 2', sans-serif;
}
.ft-items img{
	width: 40px;
	height: 40px;
}
.ft-items img:hover{
	filter: drop-shadow(0px 0px 3px #ffffff) drop-shadow(0px 0px 3px #ffffff) drop-shadow(0px 0px 3px #ffffff);
	transition: 1s;
}
.hide{
	opacity: 0;
}
@media screen and (max-width: 1024px){
	.header-nav{
		align-items: center;
		justify-content: center;
	}
	.logo p{
		font-size: 25px;
		text-align: center;
	}
	nav a{
		font-size: 15px;
	}
	.ft-items img{
		width: 30px;
		height: 30px;
	}
	.ft-item3 p, h1{
		font-size: 10px;
		color: white;
		font-family: 'Exo 2', sans-serif;
}
}
@media screen and (max-width: 426px){
	.container-header{
		width: 50%;
		display: flex;
	    min-height: 100vh;
   		justify-content: flex-end;
	    align-items: center;
	    scroll-behavior: smooth;
		font-family: 'Exo 2', sans-serif;
	}
	h1 a{
	  font-size: 40px;
	  color: grey;
	  text-decoration: none;
	  text-transform: uppercase;
	}
	.popover{
		z-index: 2;
		display: none;
		box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
	}
	.popover:target{
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	.popover .content{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  width: 0;
	  height: 0;
	  color: #fff;
	  background-color: #191919;
	  animation: 1s grow ease forwards;
	  text-align: center;
	}
	.nav-list {
		padding: 0;
		list-style-type: none;
	}
	.nav-list a{
	  text-decoration: none;
	  font-size: 40px;
	  color: #fff;
	}
	.nav-list-item{
	  height: 100%;
	  overflow: hidden;
	}
	.nav-list li{
	  padding: 15px 0;
	  text-transform: uppercase;
	  transform: translateY(200px);
	  opacity: 0;
	  animation: 2s slideUp ease forwards .5s;
	  position: relative;
	}
	.nav-list li::before{
	  content: '';
	  position: absolute;
	  height: 2px;
	  width: 0px;
	  left: 0;
	  bottom: 10px;
	  background: #BF2E97; 
	  transition: all .5s ease;
	}
	.nav-list li:hover:before{
	      width: 100%;
	}
	.popover p{
	  padding: 50px;
	  opacity: 0;
	  animation: 1s fadeIn ease forwards 1s;
	}
	.popover .close::after{
	  right: 0;
	  top: 0;
	  width: 50px;
	  height: 50px;
	  position: absolute;
	  display: flex;
	  z-index: 1;
	  font-size: 30px;
	  align-items: center;
	  justify-content: center;
	  background-color: grey;
	  color: #fff;
	  content: "×";
	  cursor: pointer;
	  opacity: 0; 
	  animation: 1s fadeIn ease forwards .5s;
	}
	@keyframes grow{
	  100% {
	    height: 90%;
	    width: 90%;
	 }
	}
	@keyframes fadeIn{
	100% {
	  opacity: 1;
	 }
	}
	@keyframes slideUp{
	  100% {
	    transform: translateY(0);
	    opacity: 1;
	  }
	}
	body{
		max-width: 426px;
	}
	.logo p{
		font-size: 20px;
		text-align: center;
	}
	nav{
		display: none;
	}
	.container{
		flex-direction: column;
	}
	.body{
		flex-wrap: wrap;
		width: 100%;
	}
	.body svg{
		padding: 0;
		width: 70%;
		height: 30%;
	}
	.text-info{
		height: 500px;
			width: 100%;
	}
	.text-info h2{
		padding: 20px;
		font-size: 20px;
	}
	.text-info li{
		padding: 5px;
		font-size: 15px;
	}
	#warn{
		padding: 20px;
	}
}
@media screen and (max-width: 320px){
	.logo p{
		font-size: 15px;
		text-align: center;
	}
	nav a{
		font-size: 8px;
	}
}
